<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">Weather App - Angular 18</a>
  </div>
</nav>
<div class="container body">
  <h5 class="text-center">{{currentDate | date: 'MMM dd - HH:mm'}}</h5>
  <form action="" class="d-flex align-items-center justify-content-center input--form">
    <div class="container">
      <label for="weatherInput">Search for City</label>
      <input name="weatherInput" type="text" placeholder="Search City" title="Search City" [(ngModel)]="city"/>
    </div>
    
    <button class="btn btn-primary" type="button" (click)="getWeather()">
      Search
    </button>

  </form>

  <div *ngIf="!weatherData" class="detail--card">
    Weather data will display here
  </div>

  <div *ngIf="weatherData" class="detail--card">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <h3>
        <img [src]="iconUrl" alt="{{weatherData.weather.description}}">
        {{weatherData.main.temp | number: '1.0-0'}}&deg;C</h3>

        <p>{{ weatherData.name }}, ({{ weatherData.sys.country }})</p>
        <p>Feels like {{weatherData.main.feels_like}}. {{weatherData.weather.main}}</p>
    </div>
    <div class="d-flex justify-content-around">
      <div>
        <p>Humidity: {{weatherData.main.humidity}}%</p>

      </div>
      <div>
        <p>Pressure: {{weatherData.main.pressure}}hPa</p>
      </div>
    </div>
    
  </div>
</div>
